<!DOCTYPE html>
<html lang="fr" data-fr-reset>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        <% if (locals.pageTitle) { %>
            <%= pageTitle %> | <%= appName %>
        <% } else { %>
            <%= appName %>
        <% } %>
    </title>
    <link rel="stylesheet" type="text/css" href="/static/gouvfr/css/dsfr.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="apple-touch-icon" href="/static/gouvfr/favicons/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="icon" href="/static/gouvfr/favicons/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="/static/gouvfr/favicons/favicon.ico" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="/dist/favicons/manifest.webmanifest" crossorigin="use-credentials">
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://stats.data.gouv.fr/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '178']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code --><!-- Matomo -->
    <script type="text/javascript">
      var _paq=window._paq||[];_paq.push(["trackPageView"]),_paq.push(["enableLinkTracking"]),function(){var a="https://stats.data.gouv.fr/";_paq.push(["setTrackerUrl",a+"matomo.php"]),_paq.push(["setSiteId","178"]);var e=document,t=e.createElement("script"),p=e.getElementsByTagName("script")[0];t.type="text/javascript",t.async=!0,t.defer=!0,t.src=a+"matomo.js",p.parentNode.insertBefore(t,p)}();
    </script>
    <!-- End Matomo Code -->
</head>
<body>
<div class="fr-skiplinks">
    <div class="fr-container">
        <ul class="fr-skiplinks__list">
            <li>
                <a class="fr-link" href="#contenu">Accéder au contenu</a>
            </li>
            <li>
                <a class="fr-link" href="#header-navigation">Accéder au menu</a>
            </li>
            <li>
                <a class="fr-link" href="#footer">Accéder au footer</a>
            </li>
        </ul>
    </div>
</div>
<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                Ministère
                                <br>des Solidarités
                                <br>et de la Santé
                            </p>
                        </div>
                        <div class="fr-header__logo">
                            <img
                                style="max-width: 200px;"
                                src="/static/images/cpam.png"
                                alt="CNAM"
                            />
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Retour à l’accueil">
                            <p class="fr-header__service-title">
                                <%= appName %>
                            </p>
                        </a>
                        <p class="fr-header__service-tagline"><%= appDescription %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
